@page "/"

<h1>Summary</h1>

<div>
  <p>Seasoned Software Engineer with 8+ years of experience and knowledge on web-based and standalone applications.</p>
   
  <p>Professional, flexible, creative, and service-oriented.</p> 
  
  <p>Offering a unique combination of creativity for problem solving and analytical skill, with the ability to assess both vantage points to create cost-effective solutions for internal and external clients.</p>
</div>
