@page "/projects"
@inject HttpClient Http

<h1>Projects</h1>

@if (projects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Technologies</th>
                <th>Summary</th>
                <th>Key Contributions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var proj in projects)
            {
                <tr>
                    <td>@proj.Date</td>
                    <td>@proj.Technology</td>
                    <td>@proj.Summary</td>
                    <ul>
                        @foreach (var contrib in proj.Contributions)
                        {
                            <li>@contrib</li>
                        }
                    </ul>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Project[] projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await Http.GetJsonAsync<Project[]>("data/projects.json");
    }

    public class Project
    {
        public string Date { get; set; }

        public string Technology { get; set; }

        public string Summary { get; set; }

        public string[] Contributions { get; set; }
    }
}
